<nav class="navbar navbar-light" style="background-color: #52616B;">
  <h3 style="color: white;">Plot</h3>
  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <h5 style="color: white;">Username</h5>
      </li>
      <li class="nav-item">
        <img src="/images/avatar-nav.png" width="40" height="40" alt="">
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-light">LOGOUT</button>
      </li>
  </div>
</nav>
