<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create New Book</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%- include('partials/_jq_bootstrap') %>

</head>

<body>
    <!-- nav bar -->
    <%- include('partials/_navbar') %>



</body>

</html>
