<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <span>hello world</span>
    <div id="thing"></div>

    <ul>
      <li>Log in as user Bob (#1) <a href="/login/1">Click here</a></li>
      <li>Log in as user Robert (#2) <a href="/login/2"></a>Click here</li>
    </ul>
  </body>
</html>
